<%= stylesheet_link_tag "home" %>

<div class="row">
    <div class="col-4" id="side-panel">
        <h1>Hello World!</h1>
    </div>
    <div class="col-8" id="main-panel">
        <a>Welcome</a>
    </div>
</div>