<%= stylesheet_link_tag "home" %>

<div class="row">
    <div class="col-4" id="side-panel">
    </div>
    <div class="col-8" id="main-panel">
        <div class="home_pic-container">
            <%= image_tag("home/Student.jpg", alt: "Student in Classroom") %>
        </div>
    </div>
</div>