/* Home Page */

.row {
    height: 75vh;
}

#side-panel {  
    background-color: rgb(11, 22, 42);
}

#main-panel {
    align-self: center;
    text-align: center;
}

.home_pic-container {
    display: flex;
    height: 500px;
    margin: auto 0;
}