/* Home Page */

.row {
    height: 75vh;
}

#side-panel {  
    background-color: rgb(11, 22, 42);
}

#main-panel {
    align-self: center;
    text-align: center;
}

.home_image {
    width: 100%;
    height: auto;
}